{% extends "main.html" %}

{% block title %}
{% endblock %}

{% block css %}
<style media="screen">
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
width: 100px;
height: 100px;
background: none;
position: relative;
}

.progress::after {
content: "";
width: 100%;
height: 100%;
border-radius: 50%;
border: 6px solid #eee;
position: absolute;
top: 0;
left: 0;
}

.progress>span {
width: 50%;
height: 100%;
overflow: hidden;
position: absolute;
top: 0;
z-index: 1;
}

.progress .progress-left {
left: 0;
}

.progress .progress-bar {
width: 100%;
height: 100%;
background: none;
border-width: 6px;
border-style: solid;
position: absolute;
top: 0;
}

.progress .progress-left .progress-bar {
left: 100%;
border-top-right-radius: 80px;
border-bottom-right-radius: 80px;
border-left: 0;
-webkit-transform-origin: center left;
transform-origin: center left;
}

.progress .progress-right {
right: 0;
}

.progress .progress-right .progress-bar {
left: -100%;
border-top-left-radius: 80px;
border-bottom-left-radius: 80px;
border-right: 0;
-webkit-transform-origin: center right;
transform-origin: center right;
}

.progress .progress-value {
position: absolute;
top: 0;
left: 0;
}
</style>
{% endblock %}

{% block content %}
  <h1 class="cover-heading">DuaLingvo</h1>
  <p>Elektu lekcion:</p>
  <div class="">
    {% for lekcioj in tree %}
    <div style="flex-direction:row;display:flex; justify-content: space-around;margin-bottom: 20px;">
    {% for l in lekcioj %}
      <div style="" class="">
        <a href="{{l}}.html">
        <div class="progress mx-auto" data-value='{{ progress[loop.index0] }}'>
          <span class="progress-left">
              <span class="progress-bar {% if progress[loop.index0]!=100 %}border-danger{%else%}border-warning{%endif%}"></span>
          </span>
          <span class="progress-right">
              <span class="progress-bar {% if progress[loop.index0]!=100 %}border-danger{%else%}border-warning{%endif%}"></span>
          </span>
          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h2 font-weight-bold" style="padding-top: 10px;">
              <div class="rounded-circle" style="background-color:#009900; width:75px !important; height:75px !important; margin: 0 auto ;">
                  <img width="70px" height="70px" src="{{ url_for('static', filename='img/'+
                  icons[l]) }}" style="padding-top:10px;padding-bottom:10px;" alt="">
              </div>
            </div>
          </div>
        </div>
        </a>
        <a href="#"><span>{{l[0].upper() + l[1:].replace("_", " ")}}</span></a>
      </div>
    {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    $(".progress").each(function() {
      var value = $(this).attr('data-value');
      var left = $(this).find('.progress-left .progress-bar');
      var right = $(this).find('.progress-right .progress-bar');

      if (value > 0) {
        if (value <= 50) {
          right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)')
        } else {
          right.css('transform', 'rotate(180deg)')
          left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)')
        }
      }
    })

    function percentageToDegrees(percentage) {
      return percentage / 100 * 360
    }
});
</script>

{% endblock %}
