{% extends "main.html" %}

{% block title %}
{{ lekcio_nomo }} - Lekcio
{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div>
  <div id="quiz"></div>
</div>

{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='node_modules/progressbar.js/dist/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/velocity-animate/velocity.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/svg.js/dist/svg.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript">

function playAudio(url) {
  var audio = new Audio(url);
  audio.type = 'audio/mp3';

  var playPromise = audio.play();

  if (playPromise !== undefined) {
      playPromise.then(function () {
          console.log('Playing....');
      }).catch(function (error) {
          console.log('Failed to play....' + error+url);
      });
  }
}

var quiz = new Quiz();
var arr=[
// reuzas tion JS fusxajxon, kiu mi iam skribis por alia projekto... mi poste plisimpligos...
{% for v in frazoj %}
{
  type:"cloze",
  question:"{{v[1]}}",
  answers:[
    {% for vv in v[0].split(" ") %}
    ["","{{vv}}"],
    {% endfor %}
  ],
  fake:["MALPRAVE","NE KLAKU"],
  explain:{
      text:"Wenn du dich weiter mit dem Thema Bodenverteilung befassen willst, dann informiere dich bei dieser Kampagne.",
      image:"2000m2.jpg",
      articles:["Fleischkonsum"],
      source:[
          ["Info euren 2000m2","http://www.2000m2.eu/"],
          ["Bundesministerium für Ernährung und Landwirtschaft","http://www.bmelv-statistik.de/de/fachstatistiken/preise-fleisch/"]
      ]
  },
  category:[]
},
{% endfor %}
];
quiz.init(arr);

var line = new ProgressBar.Line('#max', {
color: '#FCB03C'
});
var lineCor = new ProgressBar.Line('#corr', {
color: '#2f3'
});
</script>
{% endblock %}

</body>
</html>
