<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="zam">
    <meta name="generator" content="flask-freeer">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    {% block css %}{% endblock %}
    <style media="screen">
    /*
    * Globals
    */

    /* Links */
    a, a:focus, a:hover {
        color: #000;
    }

    /* Custom default button */
    .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #000;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
    }

    /* Base structure */
    html, body {
    height: 100%;
    background-color: #fff;
    }

    body {
    display: -ms-flexbox;
    display: flex;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    }
    .clozer {
      color: #fff;
    }

    .cover-container {
    max-width: 42em;
    }

    /* Header */
    .masthead {
    margin-bottom: 2rem;
    }

    .masthead-brand {
    margin-bottom: 0;
    }

    .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    }

    .nav-masthead .nav-link:hover,
    .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
    }

    .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
    }

    .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
    }

    @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
    }
    /* Cover */
    .cover {
    padding: 0 1.5rem;
    }
    .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
    }
    /*
    * Footer
    */
    .mastfoot {
    color: rgba(255, 255, 255, .5);
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    body {
    background: #ff7e5f;
    background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    min-height: 100vh;
    height: 130vh;
    }

    .rounded-lg {
    border-radius: 1rem;
    }

    .text-gray {
    color: #aaa;
    }

    div.h4 {
    line-height: 1rem;
    }
  </style>
    <!-- Custom styles for this template -->
    <!--link href="cover.css" rel="stylesheet"-->
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <div class="container">
      <div class="row" style="float: left; text-align:left;">
        <div class="col-sm">
          <img style="width:60px; height:60px;" src="{{ url_for('static', filename='img/krokodilo.svg') }}" alt="">
        </div>
        <div class="col-sm">
          <span class="masthead-brand" style="font-size: 1.75em;">
            DuaLingvo
          </span><br />
          <small>Lernu lingvojn libere</small>
        </div>
      </div>
    </div>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="{{ url_for('hejme') }}">Hejmo</a>
        <a class="nav-link" href="#">Kursoj</a>
        <a class="nav-link" href="#">Kontakto</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    {% block content %}{% endblock %}
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    </div>
  </footer>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/popper.js/dist/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

{% block js %}{% endblock %}
</body>
</html>
